form input[type=submit]:hover {
  background-color: wheat
}

body {
  margin: 40px auto;
  max-width: 650px;
  line-height: 1.6;
  font-size: 18px;
  color: #333;
  background-color: rgb(250, 250, 250);
  padding: 0 10px;
}

h1 {
  text-transform: uppercase;
}

h1, h2, h3 {
  font-family: Helvetica, Arial, sans-serif;
  color: #222;
  line-height: 1.2;
}
